<h3>Coupon Form</h3><br>
<%= form_for @coupon do |f| %>

<%= f.label :coupon_code, value: "Coupon Code: " %>
<%= f.text_field :coupon_code %>

<%= f.label :store, value: "Store: " %>
<%= f.text_field :store %>

<%= f.submit value: "Submit Coupon" %>
<% end  %>
